<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HardShopp</title>
    <!-- <link rel="icon" href="img/logo.png"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> --}}
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/admin/layout.css">

</head>

<body>
    <header>
        <img class="logo" src="/images/logo.png" alt="logo">
        <h3>HardShopp</h3>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <div class="footer-content">
            <h3>Franco Gomez</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias eligendi officiis ipsa nobis nemo
                pariatur doloribus voluptas!</p>
            <ul class="socials">
                <li><a href="https://www.facebook.com/profile.php?id=100011532256018" target="_blank"><i
                            class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/fran18gomez/" target="_blank"><i
                            class="fa-brands fa-instagram"></i></a>
                </li>
                <li><a href="https://www.linkedin.com/in/franco-gomez-b6816321b/" target="_blank"><i
                            class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://github.com/Franco18Gom3z" target="_blank"><i class="fa-brands fa-github"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2022 Franco Gomez. designed by <span>Franco Gomez</span></p>
        </div>
    </footer>
</body>

</html>