<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<div class="presentacion">
    <div class="img">
        <img src="images/home/setup.jpg" width="">
    </div>
    <div class="producto-info">
        <div class="producto-texto">
            <h1>Franco Gomez</h1>
            <h2>Software Enginner</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, sapiente deserunt, quisquam
                officiaex maxime minus soluta doloremque magni quas tempore Lorem ipsum dolor sit, amet
                consecteturadipisicing elit.</p>
        </div>
        <div class="precio-btn">
            <a href="https://www.linkedin.com/in/franco-gomez-b6816321b/" target="_blank">Contratar</a>
        </div>
    </div>
</div>