<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/tienda.css">
</head>
<div class="main">
    <div class="card">
        <div class="card-image"><img src="images/tienda/teclado.png" width="100%"></div>
        <div class="card-text">
            <div class="producto">Nisuta NSKBGZ6</div>
            <h2>$8.999</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt magni, sint accusamus deserunt
                ipsam
                omnis libero magnam, vel labore exercitationem ullam, eius nobis eos..</p>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="value"><i class="fa-solid fa-cart-shopping"></i></div>
                <div class="type">Agregar al Carrito</div>
            </div>
            <div class="stat border">
                <div class="value"><i class="fa-solid fa-bag-shopping"></i></div>
                <div class="type">Comprar Ahora</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-image"><img src="images/tienda/monitor.png" width="80%"></div>
        <div class="card-text">
            <div class="producto">Asus TUF Gaming</div>
            <h2>$59.999</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt magni, sint accusamus deserunt
                ipsam
                omnis libero magnam, vel labore exercitationem ullam, eius nobis eos..</p>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="value"><i class="fa-solid fa-cart-shopping"></i></div>
                <div class="type">Agregar al Carrito</div>
            </div>
            <div class="stat border">
                <div class="value"><i class="fa-solid fa-bag-shopping icono"></i></div>
                <div class="type">Comprar Ahora</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-image"><img src="images/tienda/mouse.png" width="90%"></div>
        <div class="card-text">
            <div class="producto">Logitech G502 Hero</div>
            <h2>$6.700</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt magni, sint accusamus deserunt
                ipsam
                omnis libero magnam, vel labore exercitationem ullam, eius nobis eos..</p>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="value"><i class="fa-solid fa-cart-shopping"></i></div>
                <div class="type">Agregar al Carrito</div>
            </div>
            <div class="stat border">
                <div class="value"><i class="fa-solid fa-bag-shopping"></i></div>
                <div class="type">Comprar Ahora</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-image"><img src="images/tienda/auriculares.png" width="80%"></div>
        <div class="card-text">
            <div class="producto">HiperX Cloud Flight</div>
            <h2>$18.690</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt magni, sint accusamus deserunt
                ipsam
                omnis libero magnam, vel labore exercitationem ullam, eius nobis eos..</p>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="value"><i class="fa-solid fa-cart-shopping"></i></div>
                <div class="type">Agregar al Carrito</div>
            </div>
            <div class="stat border">
                <div class="value"><i class="fa-solid fa-bag-shopping"></i></div>
                <div class="type">Comprar Ahora</div>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="card">
        <div class="card-image"><img src="images/tienda/monitor1.jpg" width="80%"></div>
        <div class="card-text">
            <div class="producto">Samsung Odyssey G5</div>
            <h2>$39.999</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt magni, sint accusamus deserunt
                ipsam
                omnis libero magnam, vel labore exercitationem ullam, eius nobis eos..</p>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="value"><i class="fa-solid fa-cart-shopping"></i></div>
                <div class="type">Agregar al Carrito</div>
            </div>
            <div class="stat border">
                <div class="value"><i class="fa-solid fa-bag-shopping"></i></div>
                <div class="type">Comprar Ahora</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-image"><img src="images/tienda/teclado1.png" width="80%"></div>
        <div class="card-text">
            <div class="producto">SteelSeries Apex 7</div>
            <h2>$65.000</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt magni, sint accusamus deserunt
                ipsam
                omnis libero magnam, vel labore exercitationem ullam, eius nobis eos..</p>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="value"><i class="fa-solid fa-cart-shopping"></i></div>
                <div class="type">Agregar al Carrito</div>
            </div>
            <div class="stat border">
                <div class="value"><i class="fa-solid fa-bag-shopping"></i></div>
                <div class="type">Comprar Ahora</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-image"><img src="images/tienda/auriculares1.png" width="80%"></div>
        <div class="card-text">
            <div class="producto">Astro A50</div>
            <h2>$48.000</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt magni, sint accusamus deserunt
                ipsam
                omnis libero magnam, vel labore exercitationem ullam, eius nobis eos..</p>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="value"><i class="fa-solid fa-cart-shopping"></i></div>
                <div class="type">Agregar al Carrito</div>
            </div>
            <div class="stat border">
                <div class="value"><i class="fa-solid fa-bag-shopping"></i></div>
                <div class="type">Comprar Ahora</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-image"><img src="images/tienda/mouse1.png" width="80%"></div>
        <div class="card-text">
            <div class="producto">Razer Deathadder V2</div>
            <h2>$6.000</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt magni, sint accusamus deserunt
                ipsam
                omnis libero magnam, vel labore exercitationem ullam, eius nobis eos..</p>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="value"><i class="fa-solid fa-cart-shopping"></i></div>
                <div class="type">Agregar al Carrito</div>
            </div>
            <div class="stat border">
                <div class="value"><i class="fa-solid fa-bag-shopping"></i></div>
                <div class="type">Comprar Ahora</div>
            </div>
        </div>
    </div>
</div>